@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color:white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loginBody{
  width: 100vw;
  height: 100vh;
  background-color: rgb(239, 209, 111);
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-inner{
  background-color: white;
  padding: 20px;
  
}
.form-control {
  margin: 50px 0;
}

.form-control label {
  display: block;
}