@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginBody {
  width: 100vw;
  height: 100vh;
  background-color: rgb(239, 209, 111);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-inner {
  background-color: white;
  padding: 10px;
  width: 400px;

}

.form-control {
  margin: 20px 0;

}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 50px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 18px;
  border: none;
  /* border-radius: 5px; */
  background: rgb(220, 220, 220);
  outline: none;
}

.btn {
  width: 100%;
  height: 50px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 18px;
  border: solid 3px rgb(239, 209, 111);
  /* border-radius: 5px; */
  background-color: rgb(167, 160, 159);
}

.logo {
  background-color: rgb(167, 160, 159);
  position: absolute;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  top: 22%;
  opacity: 0.95;

}

.lgo {
  width: 110px;
  height: 80px;
  margin-top: 10px;
  position: absolute;
  top: 22.5%;

}

.adminbody {
  height: 100vh;
  width: 100vw;
  background-color: rgb(245, 245, 245);
}

.sidebar {
  position: absolute;
  height: 100%;
  width: 350px;
  z-index: 20;
  background-color: rgb(167, 160, 159);
  border-radius: 0 100px 0 0;
}

.sidebar h2 {
  position: relative;
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}

.sidebar h2:after {
  position: absolute;
  content: '';
  height: 10px;
  width: 80px;
  bottom: 2px;
  background: white;
  left: 24%;
  border-radius: 50px;
}

.sidebar ol {
  position: relative;
  width: 100%;
  display: block;

}

.sidebar ol li {
  width: 100%;
  text-align: left;
  position: relative;
}

.sidebar ol li a {
  display: block;
  text-transform: capitalize;
  color: black;
  font-size: 1.5em;
  padding: 5px 30px;
  /* margin: 10px 0; */
  text-decoration: none;
}

.sidebar ol li:hover {
  letter-spacing: 0 2px;
  transition: 400ms;
}

.sidebar ol li:hover {
  background-color: rgb(239, 209, 111);
  transition: 400ms;
  border-left: 5px solid rgb(30, 32, 6);
}


.sidebar ol li.open {
  background-color: rgb(239, 209, 111);
  border-left: 5px solid rgb(30, 32, 6);
}

/* .sidebar ol li:hover:before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  background-color: rgb(238, 215, 142);
  right: 0;
  bottom: 100%;
  border-bottom-left-radius: 13px;
  box-shadow: 0 17px 0 rgb(130, 127, 98);

} */

/* .sidebar ol li:hover:after {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  background-color: rgb(238, 215, 142);
  right: 0;
  top: 100%;
  border-top-left-radius: 13px;
  box-shadow: 0 -17px 0 rgb(130, 127, 98);

}*/
.cats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.cc {
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%) translateX(175px);
  text-align: center;
  width: 100%;
  height: fit-content;
  font-size: 3em;
  margin-top: 20px;

}

.items {
  position: absolute;
  background-color: white;
  left: 27.5%;
  top: 6.5em;
  width: 70%;
  height: 82.5%;
  border-radius: 9px;
  box-shadow: 0px 0px 3px 2px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

}

.ititle {
  position: absolute;
  margin-top: 30px;
  margin-left: 50%;
  transform: translateX(-50%) translateX(175px);
  font-size: 2.5em;
}

.ic {
  padding: 30px;
  margin-left: 18px;
  box-shadow: 0px 3px 9px 1px rgb(199, 198, 198);
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  text-transform: capitalize;
}

.view {
  border: none;
  background-color: rgb(245, 245, 224);
  height: 30px;
  width: 100%;
  font-weight: 600;
  letter-spacing: 2px;
  box-shadow: 0px -1px 7px -1px rgb(219, 215, 133);
  transition: 0.2s;
  cursor: pointer;

}

.ic:hover {
  box-shadow: 0px 3px 9px 5px rgb(195, 196, 165);
  transition: 0.2s;
  cursor: pointer;
}

details>summary {
  list-style: none;
  width: 100%;
  font-weight: bold;
}

details {
  width: 100%;
}

.ids {
  text-align: left;
  margin-left: 30px;

}

.map {
  position: relative;
  width: 100%;
  height: 400px;
  margin: auto;
}

.det {
  display: grid;
  grid-template-columns: 50% 50%;
}

.det p,
.det hr {
  text-align: left;
  margin-left: 50%;
  width: 50%;
  transform: translateX(-50%);
}

.det b {
  text-shadow: -1px 1px 0px lightgray;
}

.det img {
  width: 90%;
  height: 400PX;
    object-fit: cover;
}

.det>div:nth-child(2) {
  border: 2px solid rgb(205, 199, 199);
  border-radius: 8px;
}

.det>div {
  margin-block: 15px;
  width: 100%;
}


details[open] summary~* {
  animation: sweep .25s ease-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px
  }

  100% {
    opacity: 1;
    margin-top: 0px
  }
}

details details {
  background-color: lightgray;
  padding: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

details details summary {
  padding: 10px;
  text-align: left;
}

.det form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.det form>* {
  margin-block: 5px;
}

input[type=submit] {
  background-color: rgb(220, 220, 220);
  border: 0;
  padding: 10px;
  box-shadow: 0px 2px 0 rgb(73, 70, 69);
  border-radius: 5px;

  cursor: pointer;
}

input[type=submit]:active {
  box-shadow: none;
  transform: translate(0px, 2px);
}

.det form input[type=text] {
  width: 100%;


  padding: 3px 7px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  background: rgb(220, 220, 220);

  outline: 1px solid grey;
}

.burger {
  display: none;
}
.burgerLines {
  display: none;
}

@media only screen and (max-width: 1300px) {
  .det {
    display: flex;
    flex-direction: column-reverse;
  }
  .lgo {
    width: 110px;
    height: 80px;
    left: -6%;
    margin-top: 10px;
    position: relative;
    top: 10%;
  
  }
  .logo {
    background-color: rgb(167, 160, 159);
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    top: 20.5%;
    right:35%;
    opacity: 0.95;
  
  }
  
  .form-inner{
    width: 300px;

  }

  .items {
    top: 7em;
    width: 90%;
    left: 5%;
  }

  .cc,
  .ititle {
    margin: 0;
    transform: none;
    text-align: center;
    width: 100%;
    font-size: 2.5em;
  }

  .det p,
  .det hr {
    margin-left: 0;
    width: 100%;
    transform: none;
  }

  .sidebar {
    transform: translateX(-100%);
    transition: transform 200ms ease;
  }

  .burgerLines {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(220, 220, 220); */
    /* box-shadow: 0 0 10px black; */
    margin: 10px;

    border-radius: 5px;
  }
  .burgerLines > div {
    width: 90%;
    height: 5px;
    background-color: rgb(5, 5, 5);
    transition: 300ms transform ease, 300ms opacity ease;
  }
  .burger {
    margin: 10px;
    display: block;
    position: absolute;
    z-index: 100;
    width: 50px;
    height: 50px;
    appearance: none;
  }
  .burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
  }
  .burger:checked ~ .sidebar {
    transform: translateX(0%);
    transition: transform 200ms ease;
  }
  .burger:checked ~ .burgerLines {
    box-shadow: none;
  }
  .burger:checked ~ .burgerLines > div {
    background-color: rgb(239, 209, 111);
  }
  .burger:checked ~ .burgerLines > div:first-child {
    transform: translateY(22px) translateY(-100%) rotate(-45deg);
    transition: 300ms ease;
  }
  .burger:checked ~ .burgerLines > div:nth-child(2) {
    opacity: 0;
    transition: 200ms ease;
  }
  .burger:checked ~ .burgerLines > div:last-child {
    transform: translateY(-22px) translateY(100%) rotate(45deg);
    transition: 300ms ease;
  }
}
.lout{
  position: absolute;
  width:100px;
  padding: 12px;
  font-weight: bold;
  bottom: 10px;
  transform: translateX(50%) translateX(50%);
  border-radius: 8px;
  background-color: #efd16f;
  border:solid 2px rgb(220, 220, 220);
  color: rgb(86, 83, 83);

}